*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.page-header{
    height: 10vh;
    background-color: gray;
}

.logo{
    font-size: 1.6rem;
    position: absolute;
    padding-top: 4rem;
}

.nav {
    position: relative;
    text-align: right;
    list-style: none;
    padding: 2rem;
}
ul.nav .main-nav__item {
    display: inline-block;
    font-size: 1.6rem;
    margin: 2rem;
}

ul.nav .main-nav__item a{
    text-decoration: none;
    color: white;
}

aside {
    background-color: white;
    width: 20vw;
    height: 80vh;
}

.left-menu{
    float: left;
    margin: 2rem;
    width: 15vw;
    height: 15vh;
    background-color: black;
    border-radius: 1rem;
}

section{
    float: right;
    background-color: peru;
    width: 80vw;
    height: 80vh;
}

aside, section{
    display: inline-block;
}

footer{
 display: block;
 background-color: gray;
 height: 10vh;
}

.about-us{
    margin: -0.3rem;
    text-align: center;
    font-size: 1.6rem;
    padding-top: 4rem;
}